
.vscode/launch.json
.vscode/tasks.json
obj/
bin/Debug/net6.0-windows/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Debug/net6.0-windows/SQLitePCLRaw.core.dll
bin/Debug/net6.0-windows/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net6.0-windows/Sander_Peguero_Ap1_P1.runtimeconfig.json
bin/Debug/net6.0-windows/Sander_Peguero_Ap1_P1.pdb
bin/Debug/net6.0-windows/Sander_Peguero_Ap1_P1.exe
bin/Debug/net6.0-windows/Sander_Peguero_Ap1_P1.dll
bin/Debug/net6.0-windows/Sander_Peguero_Ap1_P1.deps.json
bin/Debug/net6.0-windows/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/net6.0-windows/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/net6.0-windows/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/net6.0-windows/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/net6.0-windows/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/net6.0-windows/runtimes/osx-arm64/native/libe_sqlite3.dylib
bin/Debug/net6.0-windows/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-s390x/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-mips64/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/net6.0-windows/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/net6.0-windows/ref/Sander_Peguero_Ap1_P1.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Options.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0-windows/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0-windows/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Debug/net6.0-windows/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0-windows/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0-windows/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0-windows/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0-windows/Microsoft.Data.Sqlite.dll
bin/Debug/net6.0-windows/Humanizer.dll
Migrations/20220208052725_Inicial.cs
Migrations/20220208052725_Inicial.Designer.cs
Migrations/ContextoModelSnapshot.cs
Data/Productos.db
Data/Productos.db
